.slider-button {
  width: 420px;
  padding: 25px 30px; 
  font-size: 16px; 
  font-weight: bold; 
  text-transform: none; 
  font-family: "Concert One", sans-serif; 
  background-color: rgba(226, 180, 20, 1); 
  color: white; 
  border: 2px solid rgba(181, 136, 15, 1);
  border-radius: 50px; 
  transition: background-color 0.3s ease;
}

.slider-button:hover {
  background-color: rgba(200, 160, 18, 1);
}